body,div,p,ul,ol,li,dl,dt,dd,table,tr,td,form,fieldset,h1,h2,h3,h4,h5,h6,img,input{
  margin:0;
  padding:0;
}
html,body{
  height: 100%;
}
body{
  font-family: "微软雅黑",Arial;
  display: flex;
  flex-direction: column;
}
a{
  text-decoration:none;
}
ul,ol{
  list-style:none;
}
img{
  border: 0;
}
.claerfix:after{
  display: block;
  clear: both;
  content: ".";
  visibility: hidden;
  height: 0;
}

//头部公共样式
.head{
  width:100%;
  background:#292a2f;
  border-bottom:1px solid #46484b;
  height:47px;
  position:fixed;
  z-index: 2;
  div{
    float:left;
  }
  a{
    line-height:47px;
    display:inline-block;
    color:#fbfbfb;
  }
  //logo 部分
  .logo{
    width:210px;
    height:47px;
    background:url(../img/logo.png) no-repeat center;
  }
  //顶部中间链接部分
  .header_content{
    padding-left:27px;
    a{
      width:143px;
      position:relative;
      span{
        display:block;
        position:absolute;
        left:103px;
        top:3px;
        font-size:9px;
        width:20px;
        text-align: center;
        line-height:21px;
        background: url(../img/icon_top.png) repeat-x center;
      }
    }
  }
  //顶部右侧链接部分
  .header_right{
    float:right;
    a{
      width:135px;
    }
    //控制侧边栏的出现
    .cKsidebar{
      display:none;
      float:right;
      margin-top:7px;
      margin-right:5px;
      width:40px;
      height:29px;
      background:url(../img/top_bg_1.png) no-repeat center;
      &:hover{
        cursor: pointer;
      }
    }
  }
}
//主体内容
.content{
  width: 100%;
  display: flex;
  flex: 1;
  margin-top: 48px;
  background: #f8f8f8;
  .sidebar{
    position:fixed;
    width:220px;
    height:100%;
    background:#292a2f;
    overflow:hidden;
    z-index: 2;
    div{
      padding: 15px 15px;
      background:#3d3e43;
      img{
        float: left;
        width: 50px;
        height: 50px;
        border-radius: 150px;
        margin-right:15px;
      }
      h4{
        font-size:14px;
        color:#da7e6f;
        font-weight:100;
        line-height: 16px;
        margin: 8px 0 0;
      }
      a{
        font-size:12px;
        color:#fff;
        &:hover{
          text-decoration: underline;
        }
      }
    }
    ul{
      width:100%;
      overflow:hidden;
      li{
        overflow:hidden;
        a{
          display:block;
          width:100%;
          padding-left:18px;
          box-sizing:border-box;
          border-left:1px solid #28292e;
          border-bottom:1px dashed #313131;
          color:#fff;
          line-height:42px;
          &:hover{
            border-left:1px solid #f79999;
          }
        }
        .two{
          background: url(../img/icon_1.png) no-repeat 194px 12px;
          &:hover{
            border-left:1px solid #c3f7a7;
          }
        }
        .two_none{
          display:none;
          overflow:hidden;
          background:#3d3e43;
        }
      }
    }
  }
  .container{
    padding: 30px 28px;
    margin-left: 220px;
    background: #f8f8f8;
    //box-sizing: border-box;
    .section01{
      width: 100%;
      display: flex;
      justify-content: center;
      margin-bottom: 40px;
      .section01_con{
        margin-top: 14px;
        display: inline-block;
        vertical-align: middle;
        text-align: center;
        white-space: nowrap;
        .div_chart{
          display: inline-block;
          position: relative;
          margin-right: 26px;
          .chart_pie{
            width: 120px;
            height: 120px;
            margin-bottom: 10px;
          }
          .in_pic{
            position: absolute;
            top:13px;
            left: 13px;
            width: 90px;
            height: 90px;
            border-radius: 50%;
            border: 2px solid #e6e6e6;
            text-align: center;
            line-height: 150px;
          }
          .eyes{
            background: url(../img/eyes.jpg) no-repeat center 22px;
            color: #e28271;
          }
          .preson{
            background: url(../img/preson.jpg) no-repeat center 22px;
            color: #e28271;
          }
          .trumpet{
            background: url(../img/trumpet.jpg) no-repeat center 22px;
            color: #aeea98;
          }
          .zan{
            background: url(../img/zan.jpg) no-repeat center 22px;
            color: #98aeea;
          }
          .card{
            background: url(../img/card.jpg) no-repeat center 22px;
            color: #ea98ab;
          }
          .phone{
            background: url(../img/phone.jpg) no-repeat center 22px;
            color: #f6bf99;
          }
          p{
            text-align: center;
            font-size: 14px;
            color: #a7a7a7;
            span{
              font-size: 18px;
              font-weight: bold;
              display: block;
              color: #333;
            }
          }
        }
      }
      .section01_right{
        margin-right: -32px;
      }
    }
    .section02{
      display: flex;
      width: 100%;
      justify-content: space-between;
      background: #f6f6f6;

      .section02_left{
        width: 31.5%;
        height: 100%;
        border: 1px solid #e6e6e6;
        margin-bottom: 27px;
        .sec02_l_tit{
          display: flex;
          justify-content: space-between;
          border-bottom: 1px solid #e6e6e6;
          background: #e6e6e6;
          .tit_l{
            span{
              float: left;
              height: 53px;
              line-height: 53px;
              width: 43px;
              i{
                display: inline-block;
                width: 21px;
                height: 17px;
                margin-left: 12px;
                background:  url(../img/ws_bg.jpg);
              }
            }
            h5{
              padding-top: 15px;
              float: left;
            }
          }
          .tit_r{
            margin: 20px 15px 0 0;
            width: 17px;
            height:15px ;
            background: url(../img/jt_icon.png) no-repeat;
          }
        }
        .sec02_l_list{
          background: #fff;
           li{
               height: 30px;
               padding: 8px 5px;
               .small_line{
                 float: left;
                 width: 40%;
                 height: 30px;

               }
             i{
               line-height: 30px;
               font-size: 12px;
             }
             span{
               line-height: 30px;
               float: right;
               font-size: 14px;
               color: #e28373;
             }
           }
        }
      }
      .section02_right{
        width: 66%;
        height: 100%;
        border: 1px solid #e6e6e6;
        margin-bottom: 27px;
        .sec02_r_tit{
          display: flex;
          justify-content: space-between;
          border-bottom: 1px solid #e6e6e6;
          background: #e6e6e6;
          .tit_l{
            span{
              float: left;
              height: 53px;
              line-height: 53px;
              width: 43px;
              i{
                display: inline-block;
                width: 21px;
                height: 17px;
                margin-left: 12px;
                background:  url(../img/l3_bg.jpg);
              }
            }
            h5{
              padding-top: 15px;
              float: left;
            }
          }
          .tit_r{
            margin: 20px 15px 0 0;
            width: 17px;
            height:15px ;
            background: url(../img/jt_icon.png) no-repeat;
          }
        }
        .sec02_r_con{
          background: #fff;
          height: 320px;
          overflow: hidden;
        }
      }
    }
    .section03{
      display: flex;
      width: 100%;
      justify-content: space-between;
      background: #f6f6f6;
      .section03_left{
        width: 31.5%;
        height: 100%;
        border: 1px solid #e6e6e6;
        margin-bottom: 27px;

        .sec03_l_tit{
          display: flex;
          justify-content: space-between;
          border-bottom: 1px solid #e6e6e6;
          background: #e6e6e6;
          .tit_l{
            span{
              float: left;
              height: 53px;
              line-height: 53px;
              width: 43px;
              i{
                display: inline-block;
                width: 21px;
                height: 17px;
                margin-left: 12px;
                background:  url(../img/global.jpg);
              }
            }
            h5{
              padding-top: 15px;
              float: left;
            }
          }
          .tit_r{
            margin: 20px 15px 0 0;
            width: 17px;
            height:15px ;
            background: url(../img/jt_icon.png) no-repeat;
          }
        }
        .sec03_l_con{
          background: #fff;
          display: flex;
          flex-wrap: wrap;
          padding: 0 5px;
          padding-top: 16px;
          justify-content: space-around;
          li{
            width: 90px;
            height: 66px;
            border: 1px solid #d4d4d4;
            margin-bottom: 16px;
            background: #f5f5f5;
            .q_btn{
              width: 100%;
              text-align: center;
              line-height: 54px;
              color: #555555;
              .iconfont{
                width: 18px;
                height: 18px;
                display: block;
                margin: 0 auto;
              }
            }
          }
        }
      }
      .section03_right{
        width: 66%;
        height: 100%;
        border: 1px solid #e6e6e6;
        margin-bottom: 27px;
        .sec03_r_tit{
          display: flex;
          justify-content: space-between;
          border-bottom: 1px solid #e6e6e6;
          background: #e6e6e6;
          .tit_l{
            span{
              float: left;
              height: 53px;
              line-height: 53px;
              width: 43px;
              i{
                display: inline-block;
                width: 21px;
                height: 17px;
                margin-left: 12px;
                background:  url(../img/ws_bg.jpg);
              }
            }
            h5{
              padding-top: 15px;
              float: left;
            }
          }
          .tit_r{
            margin: 20px 15px 0 0;
            width: 17px;
            height:15px ;
            background: url(../img/jt_icon.png) no-repeat;
          }
        }
        .sec03_r_con{
          background: #fff;
          display: flex;
          justify-content: space-around;
          padding: 47px 0;
          .div_chart{
            width: 90px;
            height: 90px;
            position: relative;
            .chart_pie{
              width: 90px;
              height: 90px;
            }
            img{
              width: 50px;
              height: 50px;
              border-radius: 50%;
              position: absolute;
              left: 50%;
              top: 50%;
              margin-left: -25px;
              margin-top: -25px;
            }
          }
        }
      }
    }
    .section04{
      display: flex;
      width: 100%;
      justify-content: space-between;
      background: #f6f6f6;
      .section04_left{
        width: 31.5%;
        height: 100%;
        border: 1px solid #e6e6e6;
        margin-bottom: 28px;
        .sec04_l_tit{
          display: flex;
          justify-content: space-between;
          border-bottom: 1px solid #e6e6e6;
          background: #e6e6e6;
          .tit_l{
            span{
              float: left;
              height: 53px;
              line-height: 53px;
              width: 43px;
              i{
                display: inline-block;
                width: 21px;
                height: 17px;
                margin-left: 12px;
                background:  url(../img/light.jpg);
              }
            }
            h5{
              padding-top: 15px;
              float: left;
            }
          }
          .tit_r{
            margin: 20px 15px 0 0;
            width: 17px;
            height:15px ;
            background: url(../img/jt_icon.png) no-repeat;
          }
        }
        .sec04_l_con{
          display: flex;
          flex-wrap: wrap;
          justify-content: space-around;
          height: 310px;
          overflow-y: scroll;
          li{
            height: 54px;
            width: 100%;
            border-bottom: 1px solid #d4d4d4;
            background: #fff;
            display: flex;
            img{
              float: left;
              width: 54px;
              height: 54px;
              margin-right: 8px;
            }
            .li_con{
             width: 78%;
              .name{
                font-size: 14px;
                font-weight: 600;
                color: #62687e;
                line-height: 32px;
                span{
                  float: right;
                  font-size: 12px;
                  color: #9d9d9d;
                }
              }
              .word{
                white-space: nowrap;
                overflow: hidden;
                color: #9d9d9d;
                font-size: 14px;
              }
            }
          }
        }
        .sec04_l_foot{
          height: 45px;
          border-top: 1px  solid #d1d1d1;
          background: #e6e6e6;
          position: relative;
          .loadMore{
            width: 102px;
            height: 26px;
            background: #f5f5f5;
            border: 1px solid #d0d0d0;
            position: absolute;
            top:50%;
            margin-top: -13px;
            right: 11px;
            font-size: 12px;
            text-align: center;
            line-height: 26px;
            .iconfont{
              font-size: 12px;
              margin-right: 5px;
            }
          }
        }
      }
      .section04_right{
        width: 66%;
        height: 100%;
        border: 1px solid #e6e6e6;
        margin-bottom: 28px;
        .sec04_r_tit{
          display: flex;
          justify-content: space-between;
          border-bottom: 1px solid #e6e6e6;
          background: #e6e6e6;
          .tit_l{
            span{
              float: left;
              height: 53px;
              line-height: 53px;
              width: 43px;
              i{
                display: inline-block;
                width: 21px;
                height: 17px;
                margin-left: 12px;
                background:  url(../img/info.jpg);
              }
            }
            h5{
              padding-top: 15px;
              float: left;
            }
          }
          .tit_r{
            margin: 20px 15px 0 0;
            width: 17px;
            height:15px ;
            background: url(../img/jt_icon.png) no-repeat;
          }
        }
        .sec04_r_con{
          background: #fff;
          height: 278px;
          overflow-y: scroll;
          padding: 16px 11px;
            li{
              display: flex;
              margin-bottom: 21px;
              img{
                display: block;
                width: 54px;
                height: 54px;
                border: 1px solid #e6e6e6;
                margin-right: 20px;
                margin-top: 6px;
              }
              .li_con{
                flex: 1;
                background: #f3f6f7;
                border: 2px solid #eaebef;
                border-radius: 3px;
                padding: 0 6px;
                position: relative;
                .name{
                  color: #62687e;
                  line-height: 32px;
                  span{
                    float: right;
                    font-size: 12px;
                    color: #555555;
                  }
                }
                .word{
                  font-size: 12px;
                  line-height: 26px;
                  padding-bottom: 14px;
                }
                .function{
                  width: 100px;
                  height: 30px;
                  position: absolute;
                  right: 10px;
                  bottom: 10px;
                  text-align: right;
                  .iconfont{
                    margin-right: 4px;
                    font-size: 12px;
                    color: #26aef2;
                    text-align: center;
                  }
                }
              }
            }
        }
        .sec04_r_foot{
          height: 45px;
          border-top: 1px  solid #d1d1d1;
          background: #e6e6e6;
          position: relative;
          .loadMore{
            width: 102px;
            height: 26px;
            background: #f5f5f5;
            border: 1px solid #d0d0d0;
            position: absolute;
            top:50%;
            margin-top: -13px;
            right: 11px;
            font-size: 12px;
            text-align: center;
            line-height: 26px;
            .iconfont{
              font-size: 12px;
              margin-right: 5px;
            }
          }
        }
      }
    }
    .section05{
      width: 100%;
      display: flex;
      justify-content: space-between;
      .section05_con{
        width: 49%;
        display: flex;
        justify-content: space-between;
        margin-bottom: 28px;
        .chunk{
          background: #f5f5f5;
          width: 30%;
          height: 88px;
          border: 1px solid #d3d3d3;
          text-align: center;
          line-height: 88px;
          color: #555555;
          .iconfont{
            line-height: 60px;
            width: 18px;
            height: 18px;
            display: block;
            margin: 0 auto;
          }
        }
      }
    }
    .section06{
      display: flex;
      width: 100%;
      justify-content: space-between;
      background: #f6f6f6;
      .section06_left{
        width: 48%;
        height: 100%;
        border: 1px solid #e6e6e6;
        margin-bottom: 28px;
        .sec06_l_tit{
          display: flex;
          justify-content: space-between;
          border-bottom: 1px solid #e6e6e6;
          background: #e6e6e6;
          .tit_l{
            span{
              float: left;
              height: 53px;
              line-height: 53px;
              width: 43px;
              i{
                display: inline-block;
                width: 21px;
                height: 17px;
                margin-left: 12px;
                background:  url(../img/sec06_icon.jpg);
              }
            }
            h5{
              padding-top: 15px;
              float: left;
            }
          }
          .tit_r{
            margin: 20px 15px 0 0;
            width: 17px;
            height:15px ;
            background: url(../img/jt_icon.png) no-repeat;
          }
        }
        .sec06_l_con{
          width: 100%;
          height: 360px;
          overflow: hidden;
          background: #fff;
        }
      }
      .section06_right{
        width: 50%;
        height: 100%;
        display: flex;
        justify-content: space-between;
        .sec06_r_left{
          width: 48%;
          height: 100%;
          border: 1px solid #e6e6e6;
          margin-bottom: 28px;
          .sec06_r_l_tit{
            display: flex;
            justify-content: space-between;
            border-bottom: 1px solid #e6e6e6;
            background: #e6e6e6;
            .tit_l{
              span{
                float: left;
                height: 53px;
                line-height: 53px;
                width: 43px;
                i{
                  display: inline-block;
                  width: 21px;
                  height: 17px;
                  margin-left: 12px;
                  background:  url(../img/sec06_icon.jpg);
                }
              }
              h5{
                padding-top: 15px;
                float: left;
              }
            }
            .tit_r{
              margin: 20px 15px 0 0;
              width: 17px;
              height:15px ;
              background: url(../img/jt_icon.png) no-repeat;
            }
          }
          .sec06_r_l_con{
            background: #fff;
            p{
              font-size: 12px;
              line-height: 30px;
              padding-left: 12px;
            }
            ul{
              background: #fff;
              li{
                line-height: 39px;
                border-top: 1px solid #e0e0e0;
                padding:0  20px 0 10px;
                color: #616161;
                span{
                  float: right;
                  color: #e28271;
                }
              }
              .BV_tit{
                font-weight: 600;
                color: #000;
                span{
                  color: #333333;
                }
              }
            }
          }
        }
        .sec06_r_right{
          width: 48%;
          height: 100%;
          border: 1px solid #e6e6e6;
          margin-bottom: 28px;
          .sec06_r_r_tit{
            display: flex;
            justify-content: space-between;
            border-bottom: 1px solid #e6e6e6;
            background: #e6e6e6;
            .tit_l{
              span{
                float: left;
                height: 53px;
                line-height: 53px;
                width: 43px;
                i{
                  display: inline-block;
                  width: 21px;
                  height: 17px;
                  margin-left: 12px;
                  background:  url(../img/sec06_icon.jpg);
                }
              }
              h5{
                padding-top: 15px;
                float: left;
              }
            }
            .tit_r{
              margin: 20px 15px 0 0;
              width: 17px;
              height:15px ;
              background: url(../img/jt_icon.png) no-repeat;
            }
          }
          .sec06_r_r_con{
            background: #fff;
            p{
              font-size: 12px;
              line-height: 30px;
              padding-left: 12px;
            }
            ul{
              background: #fff;
              li{
                line-height: 39px;
                border-top: 1px solid #e0e0e0;
                padding:0  20px 0 10px;
                color: #616161;
                span{
                  float: right;
                  color: #e28271;
                }
              }
              .PG_tit{
                font-weight: 600;
                color: #000;
                span{
                  color: #333333;
                }
              }
            }
          }
        }
      }
    }
  }
}



//响应式部分（公共）
@media screen and (max-width:960px){
  .content .sidebar{
    left:-220px;
  }
  .content .container{
    margin-left: 0;
  }

  .head .header_none{
    display: none;
  }
  .head  .header_right .cKsidebar{
    display:block;
  }
}
@media screen and (max-width:1150px){
  .container .section01{
    flex-direction: column;
  }
  .section01 .section01_con{
    width: 100%;
  }
}
@media screen and (max-width:760px){
  .container .section02{
    flex-direction: column;
  }
  .content .container .section02 .section02_con{
    width: 100%;
  }
  .container .section03{
    flex-direction: column;
  }
  .content .container .section03 .section03_con{
    width: 100%;
  }
  .container .section04{
    flex-direction: column;
  }
  .content .container .section04 .section04_con{
    width: 100%;
  }
  .container .section05{
    flex-direction: column;
  }
  .content .container .section05 .section05_con{
    width: 100%;
  }
  .container .section06{
    flex-direction: column;
  }
  .content .container .section06 .section06_con{
    width: 100%;
  }
}